label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/* homepage background */
.splashImg {
  left: 0;
  top: 56px;
  position: absolute;
  width: 100%;
}

/* Search Patients */

/* search table header */
thead {
  color: white;
  background-color: teal;
  text-align: center;
  border-radius: 10px;
}

/* search table header to round border*/
.head1 {
  border-radius: 8px 0 0 0;
}

.head2 {
  border-radius: 0 8px 0 0;
}

/* search table */
.searchContainer {
  margin-top: 4rem;
  background-color: #deeeea;
  padding-top: 0;
  margin: 3rem;
}

/* search table input container */
.searchInput {
  max-width: 500px;
  margin: 7rem auto 2rem auto;
  width: 100%;
  padding: auto;
}

/* search field */
input.searchBar {
  width: 300px;
  margin: 0;
}

/* table */
.tableSearch {
  width: 60%;
  margin: auto;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  border-collapse: separate;
  border-spacing: 0;
  background-color: white;
  border: 3px solid black;
  border-radius: 10px;
}

table td {
  border: 1px solid black;
}

th,
tr,
td {
  padding: 15px;
  text-align: center;
}

/* Details Page */

/* details container */
.detailDisplay {
  padding: 4rem;
  margin: 3rem;
  border: 3px solid black;
  margin-top: 7rem;
  background-color: #39a6a3;
  color: black;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}

/* header */
.detailsHeadTitle {
  font-weight: bold;
  color: white;
  text-shadow: black;
  margin: 5px, 0, 5px, 0;
  padding: 15px;
}

/* header content */
.detailsHeader {
  background-color: white;
  border: 3px solid black;
  border-radius: 10px;
  margin-bottom: 2rem;
  font-weight: bold;
}

a.nav-link:hover {
  color: black;
}
a.nav-link {
  color: black;
}

/* details card */

.detailsBox {
  background-color: white;
  font-weight: bold;
  border: 3px solid black;
  border-radius: 10px;
}

.detailsTitle {
  margin: 5px, 0, 5px, 0;
  padding: 15px;
  font-weight: bold;
  color: white;
}

.logo {
  color: white;
}

.nav-item {
  padding-left: 30px;
}
